# Sesión 2

In [2]:
lista = ["Hola", "mi nombre es", "Irma"]

In [3]:
"".join(lista)

'Holami nombre esIrma'

In [4]:
"/".join(lista)

'Hola/mi nombre es/Irma'

In [5]:
" ".join(lista)

'Hola mi nombre es Irma'

In [6]:
string = "Fuiste mi más bonita casualidad. h"

In [7]:
string.replace("Fuiste", "Eres")

'Eres mi más bonita casualidad. h'

Split nos ayuda a separar una string

In [8]:
str(5)

'5'

In [9]:
string.split(" ")

['Fuiste', 'mi', 'más', 'bonita', 'casualidad.', 'h']

In [10]:
string.lower()

'fuiste mi más bonita casualidad. h'

In [11]:
string.upper()

'FUISTE MI MÁS BONITA CASUALIDAD. H'

In [12]:
string.title()

'Fuiste Mi Más Bonita Casualidad. H'

In [13]:
string.capitalize()

'Fuiste mi más bonita casualidad. h'

## Tuplas

In [14]:
tuple()

()

In [15]:
amigos = ("Juan", "Raul", "Sofia")

In [16]:
amigos

('Juan', 'Raul', 'Sofia')

In [17]:
amigos[0]

'Juan'

In [18]:
amigos[1]

'Raul'

In [19]:
amigos[2]

'Sofia'

In [20]:
amigos[1] = "Daniel"

TypeError: 'tuple' object does not support item assignment

In [21]:
a = 20
b = 15
c = 30

numeros = a, b, c

In [22]:
numeros

(20, 15, 30)

In [23]:
type(numeros)

tuple

In [24]:
coordenadas = (19.433, -99.140)

In [25]:
latitud, longitud = coordenadas

In [26]:
latitud

19.433

In [27]:
longitud

-99.14

In [28]:
type(latitud)

float

In [29]:
type(longitud)

float

In [30]:
amigos

('Juan', 'Raul', 'Sofia')

In [31]:
amigos[0:2]

('Juan', 'Raul')

In [32]:
amigos[1:]

('Raul', 'Sofia')

In [33]:
amigos[1:3]

('Raul', 'Sofia')

In [34]:
frutas = ["Manzana", "Uva", "Naranja"]

In [35]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [36]:
enumerados = list(enumerate(frutas))
enumerados

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [37]:
indice, elemento = enumerados[0]

In [38]:
indice

0

In [39]:
elemento

'Manzana'

In [40]:
indice, elemento = enumerados[1]

In [41]:
indice

1

In [42]:
elemento

'Uva'

## Conjuntos

In [43]:
conjunto1 = {10, 6, 2, 8, 36, 48}

In [44]:
conjunto1

{2, 6, 8, 10, 36, 48}

In [45]:
numeros = [5, 7, 8, 6, 5, 8, 9, 3, 4, 9, 6]

In [46]:
set(numeros)

{3, 4, 5, 6, 7, 8, 9}

In [47]:
conjunto1.add(50)

In [48]:
conjunto1

{2, 6, 8, 10, 36, 48, 50}

In [49]:
conjunto1.remove(50)

In [50]:
conjunto1

{2, 6, 8, 10, 36, 48}

Unión de conjuntos

In [51]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8, 9}

In [52]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersección

In [53]:
a & b

{4, 5}

Diferencia de conjuntos

In [54]:
a - b

{1, 2, 3}

In [55]:
b - a

{6, 7, 8, 9}

Unión exclusiva

In [56]:
a ^ b

{1, 2, 3, 6, 7, 8, 9}

Condicionales

In [57]:
5 < 10

True

In [58]:
20 > 45

False

In [59]:
15 == 15

True

In [60]:
5 != 7

True

In [61]:
5 >= 5

True

In [62]:
17 <= 20

True

Tablas de verdad

AND

elemento1 and elemento2

In [63]:
False and True

False

In [64]:
True and True

True

OR

In [65]:
False or True

True

In [66]:
False or False

False

NOT

In [67]:
not True

False

In [68]:
not False

True

Operadores de pertenencia

In [69]:
frutas

['Manzana', 'Uva', 'Naranja']

In [70]:
'Manzana' in frutas

True

In [71]:
'Sandía' in frutas

False

In [72]:
'Manzana' not in frutas

False

Condicionales

In [73]:
num1 = int(input("Dame un numero: "))
if num1 >= 0:
    print("Es positivo")
else:
    print("Es negativo")

Es negativo

Realizar un programa que reciba 2 números y que imprima el mayor

In [102]:
num1 = int(input("Dame un número: "))
num2 = int(input("Dame otro número: "))
if num1 > num2:
    print(f'El mayor es el {num1}')
else:
    print(F'El mayor es el {num2}')

El mayor es el 5

In [74]:
num1 = int(input("Dame un número: "))
num2 = int(input("Dame otro número: "))
if num1 > num2:
    print(f'El mayor es el {num1}')
elif num1 < num2:
    print(f'El mayor es {num2}')
else:
    print('Ambos números son iguales')

Ambos números son iguales

## Mal ejemplo

Elevar al cuadrado 10 números

In [107]:
numeros_cuadrado = []
numeros_cuadrado.append(1**2)
numeros_cuadrado.append(2**2)
numeros_cuadrado.append(3**2)
numeros_cuadrado.append(4**2)
numeros_cuadrado

[1, 4, 9, 16]

## Buen ejemplo

In [109]:
numeros_cuadrado = []
for i in [0, 1, 2, 3, 4, 5]:
    numeros_cuadrado.append(i**2)
numeros_cuadrado

[0, 1, 4, 9, 16, 25]

In [110]:
range(15)

range(0, 15)

In [111]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [113]:
numeros_cuadrado = []
for i in range(15):
    numeros_cuadrado.append(i**2)
numeros_cuadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [79]:
for i in range(15,20):
    print(i)

15
16
17
18
19

for con inicio, fin y aumento

In [82]:
for i in range(15,30,2):
    print(i)

15
17
19
21
23
25
27
29

Iterar sobre elementos de una lista

In [75]:
frutas

['Manzana', 'Uva', 'Naranja']

In [76]:
for fruta in frutas:
    print(fruta)

Manzana
Uva
Naranja

In [77]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Uva'), (2, 'Naranja')]

In [78]:
for indice, elemento in enumerate(frutas):
    print(f'La fruta {elemento} está en el índice {indice}')

La fruta Manzana está en el índice 0
La fruta Uva está en el índice 1
La fruta Naranja está en el índice 2

In [122]:
coches = ['Tsuru', 'BMW', 'Mercedes-Benz']
colores = ['Blanco', 'Silver', 'Negro']

In [123]:
len(coches)

3

In [125]:
for i in range(len(coches)):
    print(f'El coche {coches[i]} es de color {colores[i]}')

El coche Tsuru es de color Blanco
El coche BMW es de color Silver
El coche Mercedes-Benz es de color Negro

# Ciclo While

While es un ciclo que se ejecutara siempre y cuando la condición se cumple

In [83]:
contador  = 0
while contador < 5:
    print(contador)
    contador +=1

0
1
2
3
4

In [84]:
contador  = 0
while contador < 5:
    print(contador)
    contador +=1
    if contador >=5:
        break   #break nos ayuda a romper el ciclo

0
1
2
3
4

In [85]:
for i in range(10):
    if i % 2 == 0:
        continue # este continue ignora lo que sigue con el for y vuelve a entrar al ciclo, en este caso ignora el print()
    print(i)

1
3
5
7
9