Crear las siguientes variables.

* Una variable donde asignes el nombre de una película
* Una variable que contenga los primeros 4 decimales de PI
* Una variable que contenga la cantidad de mascotas que tienes

In [1]:
pelicula = "Dead drop diva"

In [2]:
pi = 3.1416

In [3]:
mascotas = 2

Imprime los siguientes mensajes utilizando format de tal manera que el resultado sea parecido a lo siguiente:

```bash
La película que elegi es Harry Potter
````

```bash
El valor de pi es 3.1416
````

```bash
La cantidad de mascotas que tengo son 2
````

In [4]:
print(f"La película que elegí es {pelicula}")

La película que elegí es Dead drop diva

In [5]:
print(f"El valor de pi es {pi}")

El valor de pi es 3.1416

In [6]:
print(f"La cantidad de mascotas que tengo son {mascotas}")

La cantidad de mascotas que tengo son 2

Crea una tabla utilizando f strings donde salgan 3 empleos aleatorios, sus respectivos sueldos y el país donde radican.

In [11]:
empleo = ['abogado', 'bombero', 'médico']
sueldo = [25000, 30000, 40000]
pais = ["México", "Argentina", "Perú"]
print(f"{empleo[0]:10}|{sueldo[0]:6}|{pais[0]:12}")
print(f"{empleo[1]:10}|{sueldo[1]:6}|{pais[1]:12}")
print(f"{empleo[2]:10}|{sueldo[2]:6}|{pais[2]:12}")

abogado   | 25000|México
bombero   | 30000|Argentina
médico    | 40000|Perú

In [2]:
empleo = ['abogado', 'bombero', 'médico']
sueldo = [25000, 30000, 40000]
pais = ["México", "Argentina", "Perú"]
for i in range(len(empleo)):
    print(f"{empleo[i]:10}|{sueldo[i]:6}|{pais[i]:12}")

abogado   | 25000|México
bombero   | 30000|Argentina
médico    | 40000|Perú

In [12]:
import random
empleo = {"Título": ["médico", "bombero", "abogado"], "Sueldo": [15000, 20000, 25000], "País": ["EUA", "México", "Colombia"]}
print(f"""
|   Empleo  |   Sueldo  |   País    |
| {random.choice(empleo["Título"])} | {random.choice(empleo["Sueldo"])} | {random.choice(empleo["País"])} |
| {random.choice(empleo["Título"])} | {random.choice(empleo["Sueldo"])} | {random.choice(empleo["País"])} |
| {random.choice(empleo["Título"])} | {random.choice(empleo["Sueldo"])} | {random.choice(empleo["País"])} |
""")

|   Empleo  |   Sueldo  |   País    |
| abogado | 15000 | Colombia |
| médico | 15000 | México |
| bombero | 15000 | México |

Desarrolla un programa donde pida 2 números y devuelva la suma, resta, multiplicación y división de los mismos.

In [13]:
num1, num2 = int(input('Ingresa el primer número: ')), int(input('Ingresa el segundo número: '))
print(f'Suma: {num1} + {num2} es {num1 + num2}')
print(f'Multiplicación: {num1} x {num2} es {num1 * num2}')
print(f'División: {num1} entre {num2} es {num1 / num2}')

Suma: 2 + 3 es 5
Multiplicación: 2 x 3 es 6
División: 2 entre 3 es 0.6666666666666666

Crea una lista con 4 colores y despues ejecuta las siguientes lineas de código:

In [3]:
colores = ['rojo', 'verde', 'morado', 'rosa']

In [7]:
list(enumerate(colores))

[(0, 'rojo'), (1, 'verde'), (2, 'morado'), (3, 'rosa')]

In [8]:
for indice, elemento in enumerate(colores):
    print(f"El color {indice} es {elemento}")

El color 0 es rojo
El color 1 es verde
El color 2 es morado
El color 3 es rosa

In [15]:
print(f"El color 0 es {colores[0]}")
print(f"El color 1 es {colores[1]}")
print(f"El color 2 es {colores[2]}")
print(f"El color 3 es {colores[3]}")

El color 0 es rojo
El color 1 es verde
El color 2 es morado
El color 3 es rosa

Crea una lista con 4 ciudades y utilizando Slice, que aparezcan las 2 de enmedio

In [16]:
ciudades = ['CDMX', 'Guadalajara', 'Acapulco', 'Cancún']
print(ciudades[1:3])

['Guadalajara', 'Acapulco']

De nuestra lista de ciudades, imprime la ultima ciudad

In [17]:
print(ciudades[-1])

Cancún

Agrega los siguientes datos a tu lista de colores: "Morado", "Rosa"

In [18]:
colores.append('Morado')
colores.append('Rosa')
print(colores)

['rojo', 'verde', 'morado', 'rosa', 'Morado', 'Rosa']

La siguiente lista contiene las alturas de 15 niños de cuarto grado, sacr el promedio de alturas.

In [19]:
alturas = [1.35, 1.56, 1.42, 1.22, 1.37, 1.23, 1.40, 1.25, 1.22, 1.37, 1.30, 1.15, 1.24, 1.31, 1.17]

In [20]:
suma = sum(alturas)
cantidad = len(alturas)
promedio = suma/cantidad
print(promedio)

1.304

Obten la altura mas chica del grupo

In [21]:
print(min(alturas))

1.15

Obten la altura más alta del grupo

In [22]:
print(max(alturas))

1.56

Crea un diccionario de perros, donde lleva 2 claves: Nombre y Raza

In [23]:
perros={'Nombre':'Chucho', 'Raza': 'Pitbull'}

In [24]:
print(perros)

{'Nombre': 'Chucho', 'Raza': 'Pitbull'}

Agrega una clave llamada Edad a nuestro diccionario y asignale un valor

In [26]:
perros['Edad']= 2
print(perros)

{'Nombre': 'Chucho', 'Raza': 'Pitbull', 'Edad': 2}

Crea 2 diccionarios de perro más incluyendo el valor edad.

In [27]:
perro1={'Nombre':'Manchas', 'Raza': 'Pitbull1', 'Edad': 2}
perro2={'Nombre':'Pelucho', 'Raza': 'Pitbull2', 'Edad': 3}

Crea una lista llamada mascotas y dentro de los corchetes, agrega los 3 diccionarios

In [28]:
mascotas = [perros, perro1, perro2]
print(mascotas)

[{'Nombre': 'Chucho', 'Raza': 'Pitbull', 'Edad': 2}, {'Nombre': 'Manchas', 'Raza': 'Pitbull1', 'Edad': 2}, {'Nombre': 'Pelucho', 'Raza': 'Pitbull2', 'Edad': 3}]