# Sesión 1

## Variables

In [6]:
print("Hola mundo")

Hola mundo

In [1]:
'Irma López'

'Irma López'

In [2]:
26

26

In [1]:
1.50

1.5

In [2]:
True

True

In [3]:
False

False

In [4]:
type('Irma López')

str

In [5]:
type(35)

int

In [6]:
type(1.50)

float

In [2]:
mi_nombre = 'Irma López'

In [3]:
mi_nombre

'Irma López'

In [4]:
mi_edad = 25

In [5]:
mi_altura = 1.50

In [6]:
mi_nombre
mi_altura

1.5

In [7]:
print(mi_nombre)
print(mi_altura)

Irma López
1.5

## Format

1. Format manual (concatenar)
2. Format parentesis
3. F strings

In [8]:
print("Mi nombre es: " + mi_nombre)

Mi nombre es: Irma López

In [9]:
print("Mi edad es %i" % mi_edad)

Mi edad es 25

In [10]:
print("La altura es {} y el nombre es {}".format(mi_altura, mi_nombre))

La altura es 1.5 y el nombre es Irma López

In [11]:
print("La altura es {1} y el nombre es {0}".format(mi_altura, mi_nombre))

La altura es Irma López y el nombre es 1.5

In [12]:
print(f"Mi nombre es {mi_nombre} y mi edad es {mi_edad}")

Mi nombre es Irma López y mi edad es 25

Relleno de F strings

In [13]:
print(f"Mi nombre es {mi_nombre:20} y mi edad es {mi_edad}")

Mi nombre es Irma López           y mi edad es 25

In [14]:
print(f"{mi_nombre:20}|{mi_edad:>3}")

Irma López          | 25

In [15]:
print(f"{mi_nombre:-<20}|{mi_edad:->3}")

Irma López----------|-25

Declaración de variables numéricas

In [16]:
a = 10
b = 5

In [17]:
print(a + b)

15

In [18]:
c, d = 20, 25

In [19]:
print(c + d)

45

In [20]:
print(f"La suma de {c} + {d} es {c + d}")

La suma de 20 + 25 es 45

Ejercicio: Imprimir la multiplicación y división de c y d

In [21]:
print(f"La multiplicación de {c} x {d} es {c*d}")
print(f"La división de {c} entre {d} es {c/d}")

La multiplicación de 20 x 25 es 500
La división de 20 entre 25 es 0.8

Inputs

In [22]:
mi_nombre = input("Dame tu nombre ")

In [23]:
mi_edad = input("Dame tu edad ")
mi_edad * 5

'2525252525'

In [25]:
int("5")

5

In [26]:
type(int("5"))

int

In [27]:
mi_edad = input("Dame tu edad")
mi_edad = int(mi_edad)
mi_edad * 5

125

In [ ]:
mi_edad = int(input("Dame tu edad"))
mi_edad * 10

250

## Listas (arrays para los que vienen de js y c)

In [ ]:
list()

[]

In [28]:
['Irma', 'Rogelio']

['Irma', 'Rogelio']

In [29]:
[25, 23]

[25, 23]

In [30]:
[True, False]

[True, False]

In [31]:
['Irma', 25, 1.8, True]

['Irma', 25, 1.8, True]

In [32]:
frutas = ["Manzana", "Pera", "Naranja"]

In [33]:
print(frutas)

['Manzana', 'Pera', 'Naranja']

In [34]:
list(enumerate(frutas))

[(0, 'Manzana'), (1, 'Pera'), (2, 'Naranja')]

In [35]:
frutas[1]

'Pera'

In [36]:
frutas[2]

'Naranja'

Meter elementos a una lista

In [37]:
lista_vacia = []

In [38]:
frutas.append("Uva")

In [39]:
frutas

['Manzana', 'Pera', 'Naranja', 'Uva']

### Slice

In [40]:
frutas[1:2]

['Pera']

In [41]:
frutas[1:3]

['Pera', 'Naranja']

In [42]:
frutas[-1]

'Uva'

In [43]:
frutas[-2]

'Naranja'

In [44]:
frutas[::-1]

['Uva', 'Naranja', 'Pera', 'Manzana']

In [45]:
"Irma"[1]

'r'

In [46]:
"Irma"[-1]

'a'

In [47]:
"Irma"[::-1]

'amrI'

In [48]:
"anita lava la tina"[::-1]

'anit al aval atina'

Ejercicio: crear una lista que contenga 10 números desordenados que vayan entre 0 y 100

In [49]:
numeros = [10, 5, 90, 29, 67, 22, 45, 87, 56, 78]

In [52]:
numeros.sort()

In [53]:
numeros

[5, 10, 22, 29, 45, 56, 67, 78, 87, 90]

In [54]:
numeros.sort(reverse=True)

In [55]:
numeros

[90, 87, 78, 67, 56, 45, 29, 22, 10, 5]

In [56]:
sum(numeros)

489

$$Media = \frac{\sum_{i=0}^n i}{n}$$

Ejercicio: sacar el promedio de sus números

In [57]:
suma = sum(numeros)
n = 10

promedio = suma / n
promedio

48.9

In [58]:
suma = sum(numeros)
n = len(numeros)
promedio = suma / n
promedio

48.9

In [59]:
min(numeros)

5

In [60]:
max(numeros)

90

Eliminar un elemento de una lista

In [70]:
flores = ['rosas', 'claves', 'alcatraces', 'crisantemos']

In [71]:
flores

['rosas', 'claves', 'alcatraces', 'crisantemos']

In [73]:
flores.pop()

'crisantemos'

In [74]:
flores

['rosas', 'claves', 'alcatraces']

In [75]:
flores.pop(2)

'alcatraces'

In [76]:
flores

['rosas', 'claves']

In [77]:
flores.remove('rosas')

In [78]:
flores

['claves']

## Diccionarios

In [61]:
dict()

{}

In [62]:
capitales = { "España": "Madrid", "Francia": "Paris", "Alemania": "Berlin"}

In [63]:
print(capitales)

{'España': 'Madrid', 'Francia': 'Paris', 'Alemania': 'Berlin'}

In [64]:
capitales

{'España': 'Madrid', 'Francia': 'Paris', 'Alemania': 'Berlin'}

In [65]:
capitales['España']

'Madrid'

In [66]:
capitales['Francia']

'Paris'

In [67]:
capitales.keys()

dict_keys(['España', 'Francia', 'Alemania'])

In [68]:
capitales.values()

dict_values(['Madrid', 'Paris', 'Berlin'])

In [69]:
capitales.items()

dict_items([('España', 'Madrid'), ('Francia', 'Paris'), ('Alemania', 'Berlin')])

Agregar un elemento a un diccionario

In [ ]:
capitales['México']= 'CDMX'

In [ ]:
capitales

{'España': 'Madrid',
 'Francia': 'Paris',
 'Alemania': 'Berlin',
 'México': 'CDMX'}

In [79]:
meal = {'fats': 10, 'proteins': 10, 'carbohydrates': 80}

In [80]:
del meal['fats']

In [81]:
meal

{'proteins': 10, 'carbohydrates': 80}

In [82]:
meal.pop('proteins', 3000)

10

In [83]:
meal

{'carbohydrates': 80}

In [84]:
datos_amigo = {"name": "Mario","país": "Colombia"}

In [85]:
datos_amigo['frutas']= frutas

In [86]:
datos_amigo

{'name': 'Mario',
 'país': 'Colombia',
 'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']}

In [87]:
datos_amigo2 = {"name": "Angeles", "país": "Chile"}

In [88]:
amigos = [datos_amigo, datos_amigo2]

In [89]:
amigos

[{'name': 'Mario',
  'país': 'Colombia',
  'frutas': ['Manzana', 'Pera', 'Naranja', 'Uva']},
 {'name': 'Angeles', 'país': 'Chile'}]

In [90]:
len(amigos)

2